<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <form [formGroup]="userForm" (ngSubmit)="register()">
          <ion-list padding no-margin>
            <ion-item no-padding>
              <ion-label floating text-uppercase>Nombre</ion-label>
              <ion-input type="text"  formControlName="nombre"></ion-input>
            </ion-item>
            <ion-item *ngIf="(userForm.controls.nombre.errors?.required || userForm.controls.nombre.errors?.whitespace) && (userForm.controls.nombre.dirty || userForm.controls.nombre.touched || submitAttempt)" no-lines>
              <p>Por favor ingresa tu nombre</p>
            </ion-item>
            <ion-item *ngIf="userForm.controls.nombre.errors?.pattern && (userForm.controls.nombre.dirty || userForm.controls.nombre.touched || submitAttempt)" no-lines>
              <p>Nombre contiene caracteres inválidos</p>
            </ion-item>
            <ion-item no-padding>
              <ion-label floating text-uppercase>Apellidos</ion-label>
              <ion-input type="text"  formControlName="apellidos"></ion-input>
            </ion-item>
            <ion-item *ngIf="(userForm.controls.apellidos.errors?.required || userForm.controls.apellidos.errors?.whitespace) && (userForm.controls.apellidos.dirty || userForm.controls.apellidos.touched || submitAttempt)" no-lines>
              <p>Por favor ingresa tus apellidos</p>
            </ion-item>
            <ion-item *ngIf="userForm.controls.apellidos.errors?.pattern && (userForm.controls.apellidos.dirty || userForm.controls.apellidos.touched || submitAttempt)" no-lines>
              <p>Apellidos contienen caracteres inválidos</p>
            </ion-item>
            <ion-item no-padding>
              <ion-label floating text-uppercase>Correo electrónico</ion-label>
              <ion-input type="email"  formControlName="correo"></ion-input>
            </ion-item>
            <ion-item *ngIf="(userForm.controls.correo.errors?.required || userForm.controls.correo.errors?.email) && (userForm.controls.correo.dirty || userForm.controls.correo.touched || submitAttempt)" no-lines>
              <p>Por favor ingresa un electrónico válido</p>
            </ion-item>
            <ion-item no-padding>
              <ion-label floating text-uppercase>Contraseña</ion-label>
              <ion-input type="password" formControlName="contra"></ion-input>
            </ion-item>
            <ion-item *ngIf="userForm.controls.contra.errors?.required && (userForm.controls.contra.dirty || userForm.controls.contra.touched || submitAttempt)" no-lines>
              <p>Por favor ingresa una contraseña</p>
            </ion-item>
            <ion-item *ngIf="userForm.controls.contra.errors?.minlength && (userForm.controls.contra.dirty || userForm.controls.contra.touched || submitAttempt)" no-lines>
              <p style="word-break: normal; white-space: normal;">
                Contraseña debe contener por lo menos {{userForm.controls.contra.errors.minlength.requiredLength}} caracteres.
              </p>
            </ion-item>
            <ion-item no-padding>
              <ion-label floating text-uppercase>Confirmar contraseña</ion-label>
              <ion-input type="password" formControlName="confirm"></ion-input>
            </ion-item>
            <ion-item *ngIf="userForm.controls.confirm.errors?.required && (userForm.controls.confirm.dirty || userForm.controls.confirm.touched || submitAttempt)" no-lines>
              <p>Por favor confirma tu contraseña</p>
            </ion-item>
            <ion-item *ngIf="userForm.controls.confirm.errors?.MatchPassword && (userForm.controls.confirm.dirty || userForm.controls.confirm.touched || submitAttempt)" no-lines>
              <p>Las contraseñas no coinciden</p>
            </ion-item>
          </ion-list>
          <button ion-button block type="submit" margin-top>Registrarse</button>  
        </form>
        <button ion-button block clear margin-top (click)="goToLogin()">Ya tengo cuenta</button>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
