<ion-menu [content]="content">
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(loginPage)" padding-vertical *ngIf="!loggedIn">
          <h1>Usuario no registrado</h1>
          <p>Iniciar sesión</p>
      </button>
      <button ion-item (click)="openPage(registerPage)" *ngIf="!loggedIn">
          <p>Registrate</p>
      </button>
      <button ion-item (click)="askLogout()" padding-vertical *ngIf="loggedIn">
        <h1 text-capitalize>{{user?.nombre}}</h1>
        <p>Cerrar sesión</p>
      </button>
      <button ion-item (click)="openPage(addPhrase)" *ngIf="loggedIn">
        <p>Añadir frase</p>
      </button>
      <button ion-item (click)="openPage(managePhrases)" *ngIf="loggedIn">
        <p>Administrar frases</p>
      </button>
      <button ion-item (click)="openPage(addService)" *ngIf="loggedIn">
        <p>Añadir servicio</p>
      </button>
      <button ion-item (click)="openPage(manageServices)" *ngIf="loggedIn">
        <p>Eliminar servicio</p>
      </button>
      <button ion-item (click)="saveOnline()" *ngIf="loggedIn">
        <p>Guardar datos en linea</p>
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-list >
      <button ion-item (click)="openPage(complainPage)" *ngIf="loggedIn">
        <p>Sugerencias y quejas</p>
      </button>
    </ion-list>
  </ion-footer>
</ion-menu>
  

<ion-nav #content [root]="rootPage" id="nav"></ion-nav>
