<!--
  Generated template for the AddPhrasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}} frase</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <form [formGroup]="userForm" (ngSubmit)="savePhrase()">
          <ion-list padding no-margin>
            <ion-item no-padding>
              <ion-label floating>Nombre</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item *ngIf="(userForm.controls.name.errors?.required || userForm.controls.name.errors?.whitespace) && (userForm.controls.name.dirty || userForm.controls.name.touched || submitAttempt)" no-lines text-wrap>
              <p>Por favor ingresa el nombre de la frase</p>
            </ion-item>
            <ion-item no-padding>
              <ion-label floating>Texto de la frase</ion-label>
              <ion-textarea type="text"  formControlName="content"></ion-textarea>
            </ion-item>
            <ion-item *ngIf="(userForm.controls.content.errors?.required || userForm.controls.content.errors?.whitespace) && (userForm.controls.content.dirty || userForm.controls.content.touched || submitAttempt)" no-lines text-wrap>
              <p>Frase sin texto, por favor, introduce el texto de tu frase</p>
            </ion-item>
            <ion-item no-padding margin-vertical>
              <ion-label>Categoría</ion-label>
              <ion-select formControlName="category" cancelText="Cancelar" interface="popover">
                <ion-option *ngFor="let service of services" [value]="service.id">{{service.name}}</ion-option>                
              </ion-select>
            </ion-item>
            <ion-item *ngIf="(userForm.controls.category.errors?.required) && (userForm.controls.category.dirty || userForm.controls.category.touched || submitAttempt)" no-lines text-wrap>
              <p>Por favor selecciona una categoría.</p>
            </ion-item>
          </ion-list>
          <button ion-button block type="submit" margin-top>Guardar</button>  
        </form>      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  